.main-card {
    display: inline-block;
    margin-left: 30px;
}

.main-card-body {
    background-origin: padding-box;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px;
}

.main-card-title {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

.main-card-text {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}