img {
    width: 100px;
    height: 150px;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 25px;
}

#mens-section {
    border: 1px solid black;
    display: inline-block;
    width: 500px;
    height: 200px;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    text-align: left;
}

#mens-heading {
    margin-top: -125px;
    margin-left: 15px;
    text-align: center;
}

#mens-discription {
    margin-left: 35px;
    text-align: center;
}