.card-img-top {
    border: 1px solid black;
    max-width: 500px;
    max-height: 600px;
    overflow: hidden;
}

.card {
    max-width: 500px;
    max-height: 450px;
    margin-left: 10px;
    margin-top: 10px;
}

h1 {
    text-align: center;
}