.navbar-brand {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
}

.d-flex {
    margin-right: 10%;
}

.carousel-item{
    background: black;
    overflow: hidden;
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}

.carousel-inner {
    height: 500px;
    margin-bottom: 25px;
}

.carousel-caption {
    margin-bottom: 32%;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff;
    opacity: 0.6;
}

.slider-heading{
    font-weight: bold;
    color: black;
}

.slider-para{
    font-weight: bold;
  color: #000000;
}

.category-head{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}